

.indice{
    list-style:decimal;
}

.tabla{
    margin: 0 auto;
    th,tr,td{
        padding: 2rem;
        text-align: center;
    }
}

.destacar{
    color: $primario_oscuro;
}

.destacar-2{
    color: $secundario_oscuro;
}
.destacar-3{
    color: $terciario;
}